<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vue JS Project</title>
    </head>
    <body>

        <div id="app">
            <h1>{{message}}</h1>

            <h4>{{title}}</h4>

            <ul>
                <li v-for="product in products" > {{product}}</li>
            </ul>

            <p>Cart: {{cart}}</p> 
            <button v-on:click="incrementCart">add</button>
            <button v-on:click="decrementCart">rem</button>
        </div>

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
        <!-- production version, optimized for size and speed -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
        <script src="main.js"></script>
    </body>
</html>